@model IEnumerable<HabeshaBit.Models.Musuic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_artist.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.musicName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.artist)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.musicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.artist)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.musiID }) |
            @Html.ActionLink("Details", "Details", new { id=item.musiID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.musiID })
        </td>
    </tr>
}

</table>
